body {
  display: flex;
  direction: column;
  overflow-x: hidden;
}

nav {
width: 100%;
}

#display {
  text-align: center;
  margin-top: 50px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}